<html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>n13 | create and maintain easy your notes</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="css/n13.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
    <script src="js/n13data.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>

<header>
    <div class="nav">
        <div class="container">
            <a class="n13logo" href="/notes">n13</a>
            <ul>
                <li class="active"><a href="/notes">my notes</a></li>
                <li><a href="#how to">how to</a></li>
            </ul>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="board">
            <button id="toggleAddNote" type="button" class="btn btn-primary">Create new Note</button>
            <img src="media/n13postit_340x320px.png" id="n13postit" class="n13postit"/>
            <img src="media/n13postit_2_340x320px.png" id="n13postit_2" class="n13postit"/>
            <button type="button" class="btn btn-primary" style="float:right;">Show finished Notes</button>
        </div>
    </div>

    <form id="addNote" class="boxFlex" action="/notes" method="post" style="display:none">
        <table>
            <tr>
                <td>Title</td>
                <td><input name="title" type="text" size="45"></td>
            </tr>
            <tr>
                <td>Beschreibung</td>
                <td><input name="content" type="text" cols="46" rows="5"></td>
            </tr>
            <tr>
                <td>Wichtigkeit</td>
                <td>
                    <select name="grade">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    &emsp; Erledigt bis
                    <input name="dateFinished" type="text" id="datepicker" size="20"></td>
            </tr>
        </table>
        <br>

        <input class="btn" type="submit" value="Save" name="entry" id="saveNote"/>
        <input type="button" value="Clear" id="clearNotes"/>
        <input type="button" value="Sort by title" id="sortNotesTitle"/>
        <input type="button" value="Sort by finish date" id="sortNotesFinish"/>
        <button>Cancel</button>

    </form>


    <form action="/sort" method="post">
        <input class="btn" value="Finished" type="submit" name="sort">
        <input class="btn" value="Title" type="submit" name="sort">
        <input class="btn" value="Created" type="submit" name="sort">
        <input class="btn" value="End Date" type="submit" name="sort">
        <input class="btn" value="Grade" type="submit" name="sort">
    </form>
    {{#each this}}
        <div class="list">
            <div class="finished"><input type="checkbox" name="finished" value="{{_id}}" id="{{_id}}" {{finished}}/>
            </div>
            <div class="box boxFlex">
                <div class="title">{{title}}</div>
                <div class="content">{{content}}</div>
            </div>
            <div class="dateCreated">{{dateCreated}}</div>
            <div class="dateFinished">{{dateFinished}}</div>
            <div class="grade">{{grade}}</div>
        </div>
    {{/each}}
</article>

</body>
</html>
</html>